/* reset */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-align: left;
    background-color: white;
}

/* variables */
:root {
    --banner-background-color: #D9D9DB;
    --banner-button-color: #4C4D4F;
    --info-catalog-background-color: #D9D9DB;
    --courses-background-color: #F5F5F6;
    --header-color: #595A5C;
    --company-academy-color: #98989E;
    --company-colmar-color: #333435;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 100;
  }

#header-desktop {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin: auto 1.5rem;
}

#company {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

#company .logo {
    height: 2rem;
    width: auto;
}

#header-mobile {
    display: none;
}

.company-name {
    font-size: 1.2rem;
    color: var(--company-academy-color);
}

.company-name strong {
    color: var(--company-colmar-color);
}

nav ul li {
    list-style: none;
    display: inline;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--header-color);
}

/* main */
main {
    position: relative;
    top: 4rem;
    width: 100%;
}