/* reset */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-align: left;
    background-color: white;
    color: var(--font-color);
}

/* variables */
:root {
    --header-color: #595A5C;
    --company-academy-color: #98989E;
    --company-colmar-color: #333435;
    --font-color: #4C4D4F;    
    --main-border-color: #4C4D4F;
    --banner-background-color: #D9D9DB;
    --banner-button-color: #4C4D4F;
    --information-background-color: #F2F2F3;
    --info-catalog-card-background-color: #D9D9DB;
    --thumbnail-card-boarder-color: #CFCFD2;
    --courses-background-color: #E6E6E9;
    --thesis-background-color: #F2F2F3;
    --thesis-card-hover-background-color: #D9D9DB;
    --thesis-video-border-color: #ABABAF;    
    --footer-border-color: #4C4D4F;
    --footer-border-top-color: #E6E6E9;
    --footer-background-color: #F2F2F3;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 100;
    border: 2px solid transparent;
  }

#header-desktop {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin: auto 1.5rem;
}

#company {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

#company .logo {
    height: 2rem;
    width: auto;
}

#header-mobile {
    display: none;
}

.company-name {
    font-size: 1.2rem;
    color: var(--company-academy-color);
}

.company-name strong {
    color: var(--company-colmar-color);
}

nav ul li {
    list-style: none;
    display: inline;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--header-color);
}

/* main */
main {
    position: relative;
    top: 4rem;
    width: 100%;
    border: 2px solid var(--main-border-color);
    border-top: none;
    border-bottom: none;
}

/* banner */
#banner {
    position: relative;
    background-color: var(--banner-background-color);
    padding: 2rem 0rem 2rem 1.5rem;
}

#banner-content {
    display: flex;
}

#banner-content img {
    display: block;
    width: 60%;
    height: auto;
    margin-right: 1.5rem;
}

#banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: var(--font-color);
    width: 30%;
    padding: 10rem 0 10rem 1rem;
}

#banner-info h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#banner-info p {
    font-weight: bold;
}

#start-here {
    color: white;
    background-color: var(--banner-button-color);
    width: 80%;
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 2rem;
}

/* Information section*/
#information {
    position: relative;
    display: flex;
    background-color: white;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    background-color: var(--information-background-color);
}

#information-main {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 1.5rem;
    width: 60%;
    height: auto;
    border-right: 2px solid var(--thumbnail-card-boarder-color);
}

#information-main h2 {
    margin: 2rem 0 1.5rem 0;
}

#information-main p {
    margin: 0;
}

#information-main span {
    margin: 2rem 0;
}

#info-catalog {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 40%;
}

.thumbnail-card-container {
    padding: 1rem;
}

.thumbnail-card-container:hover {
    background-color: var(--info-catalog-card-background-color);
}

.thumbnail-card {
    display: flex;
    justify-content: flex-start;
}

.thumbnail-card img {
    display: block;
    width: 35%;
    height: auto;
}

.thumbnail-card .card-info {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.thumbnail-card .card-info h3 {
    margin: 0;
}

.thumbnail-card .card-info p {
    margin: 0.5rem 0;
}

.thumbnail-card .card-info a {
    text-decoration: none;
}

#orientation {
    margin-bottom: 2px;
    border-bottom: 2px solid var(--thumbnail-card-boarder-color);
}

#campus {
    margin: 1px 0;
    border-top: 2px solid var(--thumbnail-card-boarder-color);
    border-bottom: 2px solid var(--thumbnail-card-boarder-color);
}

#guest-lecture {
    margin-top: 2px;
    border-top: 2px solid var(--thumbnail-card-boarder-color);
}

/* Courses section */
#courses {
    padding: 2rem 3.5rem;
    background-color: var(--courses-background-color);
}

#courses h2 {
    margin: 0 auto;
    width: fit-content;
}

#course-cards {
    display: flex;
    flex-wrap: wrap;
}

.course-card {
    width: calc((100% - 6rem)/3);
    margin: 2rem 1rem 0 1rem;
    background-color: white;
}

.course-card-image {
    width: 100%;
    height: auto;
}

.course-card-body {
    margin: 1rem 1rem;
    text-align: left;
}

.course-card-title {
    margin: 0 0 0.5rem 0;
}

.course-card-body p {
    margin: 0.5rem 0;
}

/* Thesis exhibit section */
#thesis-exhibit {
    padding: 2rem 0;
    background-color: var(--thesis-background-color);
}

#thesis-exhibit h2 {
    margin: 0 auto 2rem auto;
    width: fit-content;
}

#thesis-container {
    margin-top: 2rem;
    display: flex;
}

#reimagine-urban {
    margin: 0 1.5rem;
    width: 60%;
}

#video-container video {
    margin-bottom: 1.5rem;
    width: 100%;
    border: 2px solid var(--thesis-video-border-color);
}

#reimagine-urban .thesis-title {
    margin-top: 0;
}

.thesis-text {
    margin: 0.5rem 0 0 0;
}

#thesis-examples {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
    width: 40%;    
}

.thesis-card-container {
    padding: 1rem;
}

.thesis-card-container:hover {
    background-color: var(--thesis-card-hover-background-color);
}

.thesis-card {
    display: flex;
    justify-content: flex-start;
}

.thesis-card img {
    display: block;
    width: 35%;
    height: auto;
}

.thesis-card .thesis-card-info {
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.thesis-card .thesis-card-info h3 {
    margin: 0;
}

.thesis-card .thesis-card-info p {
    margin: 0.5rem 0;
}

/* footer  */
footer {
    position: relative;
    top: 4rem;;
    border: 2px solid var(--footer-border-color);
    border-top: none;
    background-color: var(--footer-background-color);
}

#footer-container {
    margin: 0 0.5rem 1rem 0;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--footer-border-top-color);
}

#copyright {
    margin: 1rem 0.875rem;
}

#terms-privacy ul {
    display: flex;
    margin: 1rem 0.875rem;    
}

#terms-privacy ul li {
    margin-left: 1rem;
    list-style: none;
}

#terms-privacy ul li a {
    text-decoration: none;
}