/* reset */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-align: left;
    background-color: white;
    color: var(--font-color);
}

/* variables */
:root {
    --header-color: #595A5C;
    --header-border-color: #4C4D4F;
    --company-academy-color: #98989E;
    --company-colmar-color: #333435;
    --font-color: #4C4D4F;    
    --main-border-color: #4C4D4F;
    --banner-background-color: #D9D9DB;
    --banner-button-color: #4C4D4F;
    --information-background-color: #F2F2F3;
    --info-catalog-card-background-color: #D9D9DB;
    --thumbnail-card-boarder-color: #CFCFD2;
    --courses-border-color-mobile: #D9D9DB;
    --course-grid-background-color: #D9D9DB;
    --courses-background-color-mobile: #F2F2F3;
    --courses-background-color: #E6E6E9;
    --thesis-background-color: #F2F2F3;
    --thesis-card-hover-background-color: #D9D9DB;
    --thesis-video-border-color: #ABABAF;    
    --footer-border-color: #4C4D4F;
    --footer-border-top-color: #E6E6E9;
    --footer-background-color: #F2F2F3;
}

/* Header */
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 100;
    box-sizing: border-box;
    border-left: 2px solid var(--header-border-color);
    border-right: 2px solid var(--header-border-color);
}

#header-desktop {
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline;
    font-size: 1rem;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: var(--header-color);
}


@media screen and (min-width: 576px) {
    header {
        border: none;
    }
    
    #header-desktop {
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        margin: auto 1.5rem;
    }

    #header-mobile {
        display: none;
    }

    #company {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
    }
    
    #company .logo {
        height: 2rem;
        width: auto;
    }
    
    .company-name {
        font-size: 1.2rem;
        color: var(--company-academy-color);
    }
    
    .company-name strong {
        color: var(--company-colmar-color);
    }
    
    nav ul li {
        margin-left: 1rem;
    }
}

/* main */
main {
    position: relative;
    width: 100%;
    border: 2px solid var(--main-border-color);
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
}

/* banner */
#banner {
    position: relative;
    background-color: var(--banner-background-color);
    padding: 0;
}

#banner-content {
    display: flex;
    flex-direction: column;
}

#banner-content img {
    display: block;
    height: auto;
    width: 100%;
}

#banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--font-color);
    width: 100%;
    padding: 2rem 1rem;
}

#banner-info h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#banner-info p {
    font-weight: bold;
}

#start-here {
    color: white;
    background-color: var(--banner-button-color);
    width: calc(100% - 2rem);
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 0.5rem;
}

@media screen and (min-width: 576px) {
    #banner {
        padding: 2rem 0rem 2rem 1.5rem;
    }

    #banner-content {
        flex-direction: row;
    }

    #banner-content img {
        width: 60%;
        margin-right: 1.5rem;    
    }

    #banner-info {
        justify-content: space-around;
        width: 30%;
        padding: 10rem 0 10rem 1rem;
    }

    #banner-info h1 {
        margin: auto;
    }

    #start-here {
        width: 80%;
        margin-top: 2rem;
    }
}

/* Information section*/
#information {
    position: relative;
    display: flex;
    background-color: white;
    background-color: var(--information-background-color);
}

#information-main {
    display: none;
}

#info-catalog {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.thumbnail-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: 2rem;    
}

.thumbnail-card:hover {
    background-color: var(--info-catalog-card-background-color);
}

.info-img-desktop {
    display: none;
}

.info-img-mobile {
    display: block;
    width: 100%;
    height: auto;
}

.thumbnail-card .card-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
}

.thumbnail-card .card-info h3 {
    margin: 0;
}

.thumbnail-card .card-info p {
    margin: 0.5rem 0;
}

.thumbnail-card .card-info a {
    text-decoration: none;
}

@media screen and (min-width: 576px) {
    #information {
        padding-left: 1.5rem;
    }    

    #information-main {
        display: flex;
        flex-direction: column;
        padding: 2rem 1.5rem 0 0;
        width: 60%;
        height: auto;
        border-right: 2px solid var(--thumbnail-card-boarder-color);
    }

    #information-main h2 {
        margin: 2rem 0 1.5rem 0;
    }
    
    #information-main p {
        margin: 0;
    }
    
    #information-main span {
        margin: 2rem 0;
    }

    #info-catalog {
        display: flex;
        flex-direction: column;
        padding: 1rem 0rem 2rem 0rem;
        width: 40%;
    }

    .thumbnail-card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 1rem;
        margin-bottom: 0;
    }    

    .info-img-desktop {
        display: block;
        width: 35%;
        height: auto;
    }

    .info-img-mobile {
        display: none;
    }

    .thumbnail-card .card-info {
        width: 65%;
        padding: 0 1rem;        
    }

    #orientation {
        margin-bottom: 2px;
        border-bottom: 2px solid var(--thumbnail-card-boarder-color);
    }
    
    #campus {
        margin: 1px 0;
        border-top: 2px solid var(--thumbnail-card-boarder-color);
        border-bottom: 2px solid var(--thumbnail-card-boarder-color);
    }
    
    #guest-lecture {
        margin-top: 2px;
        border-top: 2px solid var(--thumbnail-card-boarder-color);
    }    
}


/* Courses section */
#courses {
    padding: 2rem 1rem;
    background-color: var(--courses-background-color-mobile);
    border: 2px solid var(--courses-border-color-mobile)
}

#courses h2 {
    margin: 0 auto 0.5rem auto;
    width: fit-content;
}

#course-cards {
    display: none;
}

#course-grids {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.course-grid {
    margin-top: 0.5rem;
    padding: 1.5rem 1rem;
    background-color: var(--course-grid-background-color);
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    #courses {
        padding: 2rem 3.5rem;
        background-color: var(--courses-background-color);
        border: none;
    }
    
    #courses h2 {
        margin: 0 auto;
    }
    
    #course-grids {
        display: none;
    }

    #course-cards {
        display: flex;
        flex-wrap: wrap;
    }
    
    .course-card {
        width: calc((100% - 6rem)/3);
        margin: 2rem 1rem 0 1rem;
        background-color: white;
    }
    
    .course-card-image {
        width: 100%;
        height: auto;
    }
    
    .course-card-body {
        margin: 1rem 1rem;
        text-align: left;
    }
    
    .course-card-title {
        margin: 0 0 0.5rem 0;
    }
    
    .course-card-body p {
        margin: 0.5rem 0;
    }
}

/* Thesis exhibit section */
#thesis-exhibit {
    padding: 2rem 0 1.5rem 0;
    background-color: var(--thesis-background-color);
}

#thesis-exhibit h2 {
    margin: 0 auto;
    width: fit-content;
}

#thesis-container {
    margin: 1rem 0 0 0;
}

#reimagine-urban {
    margin: 0;
    width: 100%;
}

#video-container video {
    margin: 0;
    width: calc(100% - 4px);
    border: 2px solid var(--thesis-video-border-color);
}

.thesis-title, .thesis-text {
    display: none;
}

#thesis-examples {
    display: none;
}

@media screen and (min-width: 576px) {
    #thesis-exhibit {
        padding: 2rem 0;
    }

    #thesis-exhibit h2 {
        margin: 0 auto 2rem auto;
    }
 
    #thesis-container {
        margin-top: 2rem;
        display: flex;
    }

    #reimagine-urban {
        margin: 0 1.5rem;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #video-container video {
        margin-bottom: 1.5rem;
    }

    .thesis-title {
        display: inline-block;
        margin: 0;
    }
    
    .thesis-text {
        display: inline-block;
        margin: 0.5rem 0 0 0;
    }    

    #thesis-examples {
        display: flex;
        flex-direction: column;
        padding-right: 0.5rem;
        width: 40%;    
    }
    
    .thesis-card-container {
        padding: 1rem;
    }
    
    .thesis-card-container:hover {
        background-color: var(--thesis-card-hover-background-color);
    }
    
    .thesis-card {
        display: flex;
        justify-content: flex-start;
    }
    
    .thesis-card img {
        display: block;
        width: 35%;
        height: auto;
    }
    
    .thesis-card .thesis-card-info {
        display: flex;
        width: 65%;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
    }
    
    .thesis-card .thesis-card-info h3 {
        margin: 0;
    }
    
    .thesis-card .thesis-card-info p {
        margin: 0.5rem 0;
    }    
}

/* footer  */
footer {
    position: relative;
    border: 2px solid var(--footer-border-color);
    border-top: none;
    background-color: var(--footer-background-color);
    box-sizing: border-box;
}

#footer-container {
    margin: 0 0.5rem 1rem 0;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--footer-border-top-color);
}

#copyright {
    margin: 1rem 0.875rem;
}

#terms-privacy ul {
    display: flex;
    margin: 1rem 0.875rem;    
}

#terms-privacy ul li {
    margin-left: 1rem;
    list-style: none;
}

#terms-privacy ul li a {
    text-decoration: none;
    color: var(--font-color);
}